{% extends 'layout.html' %}
{% block heading %}Bill Information: {{bills.cong_year}}-{{bills.type}}-{{bills.num}}{% endblock %}
{% block content %}

<p>Enacted: {{bills.enacted}}</p>

<p>Summary: {{bills.summary}}</p>

<p>Category: {{bills.category}}</p>

<p>Introduction Date: {{bills.introduction_date}}</p>

<p>Year in Congress: {{bills.cong_year}}</p>

<p>Bill Sponsored By:</p>
<ul>
  {% for b in bill_sponsors %}

  <li><a href="{{url_for('congressperson', id=b.id)}}">{{b.name}}</a></li>
  {% endfor %}
</ul>


{% if showform %}
<p>Who voted:</p>
<form action="{{url_for('bills', num=bills.num, cong_year = bills.cong_year, type = bills.type)}}", method = "post">
{{form.csrf_token}}
    <div class="form-group">
        <p>Decision: {{form.decision}}  </p>
    </div>
    <input type="submit" value="Submit"/>
</form>
{% endif %}


{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
{% endwith %}


{% if submitted %}
<p>{{allcongressmen|length}} congressperson{{allcongressmen|length|pluralize}}
  found in the database to have voted this way.</p>
{% endif %}  

<ul>
	{% for congressperson in allcongressmen %}
	<li><a href="{{url_for('congressperson', id=congressperson.id)}}">{{congressperson.name}}</a></li>
	{% endfor %}
</ul>


{% endblock %}
