{% extends 'layout.html' %}
{% block heading %}Comparing Congresspeople: <a href = "{{url_for('congressperson', id = congressperson1.id)}}">{{congressperson1.name}}</a> and <a href = "{{url_for('congressperson', id = congressperson2.id)}}">{{congressperson2.name}}</a>{% endblock %}
{% block content %}
<H3>Voting Histories</H3>
<ul>
  {% for b in billvotes %}

  <li><a href="{{url_for('bills', num=b[0].bill_num, cong_year = b[0].cong_year, type = b[0].bill_type)}}">{{b[0].bill_num, b[0].cong_year, b[0].bill_type}}</a> - {{congressperson1.name}}: {{b[0].decision}}, {{congressperson2.name}}: {{b[1].decision}}</li>
  {% endfor %}
</ul>
{% endblock %}