{% extends 'layout.html' %}
{% block heading %}Congressman Information: {{congressperson.name}}{% endblock %}
{% block content %}
<p>Name: {{congressperson.name}}</p>
<p>House or Senate: {{congressperson.house_or_senate}}</p>
<p>Party: {{congressperson.party}}</p>
<p>State: {{congressperson.state}}</p>
<p>District: {{congressperson.district}}</p>
<p>Phone: {{congressperson.phone}}</p>
<p>Address: {{congressperson.address}}</p>


<!--need to validate the link, if it is none, then the  page will throw an error-->
<a href={{congressperson.contact_form}}>Contact this congressman</a>


{% endblock %}
