{% extends 'layout.html' %}
{% block heading %}Congressman Information: {{congressperson.name}}{% endblock %}
{% block content %}
<p>Name: {{congressperson.name}}</p>
<p>House or Senate: {{congressperson.house_or_senate}}</p>
<p>Party: {{congressperson.party}}</p>
<p>State: {{congressperson.state}}</p>
<p>District: {{congressperson.district}}</p>
<p>Phone: {{congressperson.phone}}</p>
<p>Address: {{congressperson.address}}</p>


<!--need to validate the link, if it is none, then the  page will throw an error-->
<a href={{congressperson.contact_form}}>Contact this congressman</a>
<H3>Bills Sponsored</H3>
<ul>
  {% for b in bills %}

  <li><a href="{{url_for('bills', num=b.bill_num, cong_year = b.cong_year, type = b.bill_type)}}">{{b.bill_num, b.cong_year, b.bill_type}}</a></li>
  {% endfor %}
</ul>
{% endblock %}
