{% extends 'header.html' %}
{% block heading %}Learn more about a congressman or a bill!{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}


<li><a href = "{{url_for('register')}}">Register</a></li>

<li><a href = "{{url_for('login')}}">Log In</a></li>


<div id="background"></div>

{% endblock %}
