<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Flask Congress</title>
    <meta name="description" content="A sample Flask website for db-beers"/>
    <meta name="keywords" content="flask, db-beers"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style type="text/css">
      body {
        font-family: Didot, serif;
        color: black;
        background-color: ivory ;
      text-align: center;
      list-style-position: inside;}
      h1 {
        font-family: Didot, serif;
        text-align: center;}
    </style>
  </head>
  <body>
    <h1><a href="{{url_for('user')}}">DC For Me</a></h1>
    <a href = "{{url_for('user')}}">User Dashboard</a>
    <a href = "{{url_for('logout')}}">Log Out</a>
    <a href = "{{url_for('update_user')}}">Update Information</a>
    <a href = "{{url_for('bill_search')}}">Search All Bills</a>
    <a href = "{{url_for('congressman_search')}}">Search All Congressmen</a>
    <hr/>
    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    {% block content %}{% endblock %}
  </body>
</html>



