{% extends 'layout.html' %}

{% block content %}
<div class="user-registration">
  <div class="page-header">
    <h2>Please Update Your Information</h2>
    <h3>Entries left blank will not be updated.</h3>
  </div>

  
<form action="{{url_for('update_user')}}", method = "post">
{{form.csrf_token}}

    <div class="form-group">
        <p>Name: {{form.name}}  </p>
          
    </div>
          
    <div class="form-group">
        <p>Password: {{form.password}}</p>
        
    </div>

    <div class="form-group">
        <p>State/Territory: {{form.state}}</p>
          
    </div>
    <div class="form-group">
        <p>District: {{form.district}}</p>    
     </div>

    <input type="submit" value="Submit"/>
    <!-- <button class="btn btn-sm btn-success" type="submit" value = "Submit">Create New Account </button> -->
     <!-- <p>Create New Account: {{form.submit()}}</p> -->
</form>

{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}



{% endblock %}
