{% extends 'layout.html' %}

{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

{% block heading %}User Information: {{user.name}}{% endblock %}
{% block content %}
<p>Name: {{user.name}}</p>
<p>State: {{user.state}}</p>
<p>District: {{user.district}}</p>

<p>Your Senator(s): </p>

<ul>
    {% for s in senator %}
    <li><a href="{{url_for('congressperson', id=s.id)}}">{{s.name}}</a></li>
    {% endfor %}
  </ul>

  <p>Your Representative(s): </p>

  <ul>
      {% for r in representative %}
      <li><a href="{{url_for('congressperson', id=r.id)}}">{{r.name}}</a></li>
  
        {% for v in rep_votes %}
  
           <ul>
           {% if v.rep_id == r.id %}
                    
  
           <li><a href="{{url_for('bills', num=v.bill_num, cong_year = v.cong_year, type = v.bill_type)}}">{{v.bill_type}}{{v.bill_num}}</a> - {{v.decision}}</a></li>
  
           {% endif %}
           </ul>
  
        {% endfor %}
  
      {% endfor %}
   </ul>


{% endblock %}
