{% extends 'layout.html' %}

{% block heading %}Congressperson: {{rep_info.name}}{% endblock %}


{% block content %}


<form action="{{url_for('voting_record', id = rep_info.id)}}", method = "post">
    {{form.csrf_token}}
    
        <div class="form-group">
            <p>Decision: {{form.decision}}</p>
        </div>
        <input type="submit" value="Submit"/>
       
    </form>

{% if submitted %}
<p>Your congressperson casted {{rep_votes|length}} {{form.decision.data}}{{rep_votes|length|pluralize}}</p>
{% endif %}  

<ul>
    {% for vote in rep_votes %}
    <li><a href="{{url_for('bills', num=vote.bill_num, cong_year = vote.cong_year, type = vote.bill_type)}}">{{vote.bill_num, vote.cong_year, vote.bill_type}}</a></li>
    {% endfor %}
</ul>

{% endblock %}